.tabButton {
  width: 100%;
  max-width: 290px;
	border-radius:5px;
  margin-top:10px;
	font-size:9px;
	font-weight:bold;
	padding:9px 23px;

}
.myButton:hover {

}
.myButton:active {
	position:relative;
	top:1px;
}

ul{
  list-style-type: none;
}

.closeTab {

}
.closeTab:hover {

}

.tabContainer{
  display:block;
  position:absolute;
  top:30px;
  left:0;
  width:30%;
  height: calc(100% - 30px);
  overflow-y: auto;
  /* background-color:rgb(127,255,127); */
}

.categoryContainer{
  /* display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  flex: 1 0 80%; */
  margin-left:35%;
  /* background-color:rgb(255,255,0); */
}


.tabFavs{
  width:  25px;
  height: 25px;
}


.tab_list{
  /* border: 1px solid red;
  height: 650px;
  overflow:scroll;
  background:#fff; */
}

/* .tabContainer{
  height: 50px;


} */
